.pinGrid {
    width: 100%;
    margin: 0 auto;
}

.gridContainer {
    display: grid;
    place-items: center;
    column-gap: 0rem;
    row-gap: 1rem;
    padding: 0 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.imageContainer {
    position: relative;
    &:hover .overlay {
        height: 70%;
        cursor: pointer;
    }

    &:hover .blur {
        // background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    &:hover .overlayTitle {
        opacity: 1;
        transform: translateX(0);
    }
}

.pinImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.08s linear;
    overflow: hidden;
}

.blur {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    bottom: 0;
    transition: 0.08s linear;
}

.overlay {
    background-color: #3a3d3c;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
    height: 0%;
    transition: height 0.08s linear;
    clip-path: polygon(0% 17%, 100% 35%, 100% 100%, 0% 100%);
}

.overlayError {
    position: absolute;
    inset: 0;
    cursor: no-drop;
    z-index: 11;
    display: grid;
    place-items: center;
    color: white;
    background: #5d4157; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #a8caba,
        #5d4157
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #a8caba,
        #5d4157
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    & > svg {
        height: 4rem;
        width: 4rem;
    }
}

.overlayContent {
    padding-bottom: 0.15rem;
    padding-left: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    & > div {
        display: flex;
        align-items: center;
        height: fit-content;
        & > p {
            color: white;
            padding-left: 0.5rem;
            font-weight: 600;
            font-family: "Josefin Sans";
            font-size: 1rem;
        }

        & > img {
            height: 30px;
            width: 30px;
            border-radius: 5px;
        }
    }
}

.overlayTitle {
    font-size: 1.3rem;
    color: white;
    margin: 0;
    font-weight: 700;
    opacity: 0;
    transition: all 0.1s linear;
    transform: translateX(-200px);
    transition-delay: 0.08s;
}

.overlayFooter {
    display: flex;
    align-items: center;
    & > div {
        display: flex;
        margin-bottom: 0.5rem;
        align-items: center;
        justify-content: flex-start;
        color: white;
        margin-right: 1rem;
        font-family: "Josefin Sans";
        font-size: 1rem;
        font-weight: 600;
        & > p {
            margin: 0;
            margin-left: 0.25rem;
            margin-top: 0.25rem;
            padding: 0;
        }
    }
}
