.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchContainer {
    width: 30rem;
    margin: 1rem 0;

}

.addBtn {
    margin-left: 0.5rem;
    font-size: 1.1rem;
    font-family: 'Josefin Sans';
    color : white;
}

.iconStyle {
    height : 17px;
    width : 17px;
    align-self: center;
    margin-left: 5px;
    display: inline;
}
